<div class="container">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <%= form_with model: @horario, local: true, class: "user" do |f| %>
              <% if params[:professor_id] %>
                <%= f.hidden_field :professor_id, value: "#{params[:professor_id]}" %>
              <% else %>
                <%= f.hidden_field :professor_id %>
              <% end %>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0 text-center">
                  <%= f.label 'Dia', class: 'col-form-label-lg' %>
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0 text-center">
                  <%= f.label 'Horário', class: 'col-form-label-lg' %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <%= f.select :dia, options_for_select([["Segunda","1-Segunda"],["Terça","2-Terça"],["Quarta","3-Quarta"],["Quinta","4-Quinta"],["Sexta","5-Sexta"],["Sábado","6-Sábado"]]), { include_blank: true }, class: "form-control" %>  
                </div>
                <div class="col-sm-6">
                  <%= text_field :diferenciado, :horario, class: "form-control" %>
                  <% if action_name == 'new' %>
                    <%= f.select :horario, options_for_select([["08:10 até 09:00","08:10:00"],["09:00 até 09:50","09:00:00"],["09:50 até 10:40","09:50:00"],["10:40 até 11:30","10:40:00"],["11:30 até 12:20","11:30:00"],["14:00 até 14:50","14:00:00"],["14:50 até 15:40","14:50:00"],["15:40 até 16:30","15:40:00"],["16:30 até 17:20","16:30:00"],["17:20 até 18:10","17:20:00"],["18:10 até 19:00","18:10:00"],["19:00 até 19:50","19:00:00"],["19:50 até 20:40","19:50:00"],["20:40 até 21:30","20:40:00"]]), {}, {:multiple => true, class: "form-control"} %>
                  <% else %>
                    <%= f.select :horario, options_for_select([["08:10 até 09:00","08:10:00"],["09:00 até 09:50","09:00:00"],["09:50 até 10:40","09:50:00"],["10:40 até 11:30","10:40:00"],["11:30 até 12:20","11:30:00"],["14:00 até 14:50","14:00:00"],["14:50 até 15:40","14:50:00"],["15:40 até 16:30","15:40:00"],["16:30 até 17:20","16:30:00"],["17:20 até 18:10","17:20:00"],["18:10 até 19:00","18:10:00"],["19:00 até 19:50","19:00:00"],["19:50 até 20:40","19:50:00"],["20:40 até 21:30","20:40:00"]]), {include_blank: true}, class: "form-control" %>
                  <% end %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12 mb-3 mb-sm-0 text-center">
                  <%= f.label "Habilitar Horário Diferenciado", class: "col-sm-0 control-label" %>
                  <input type="checkbox" id="diferenciado_check" class="form-control">
                </div>
              </div>
              <%= f.submit "Salvar", class: "btn btn-primary btn-user btn-block" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>