<div class="container">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Crie uma conta!</h1>
            </div>
            <%= form_with model: @user, local: true, class: "user" do |f| %>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <%= f.text_field :email, class: "form-control form-control-user", placeholder: "Endereço de Email" %>
                </div>
                <div class="col-sm-6">
                  <%= f.text_field :name, class: "form-control form-control-user", placeholder: "Nome" %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <%= f.password_field :password, class: "form-control form-control-user", placeholder: "Senha" %>
                </div>
                <div class="col-sm-6">
                  <%= f.password_field :password_confirmation, class: "form-control form-control-user", placeholder: "Repetir Senha" %>
                </div>
              </div>
              <% if logged_in? && current_user.is_admin? %>
                <div class="form-group row">
                  <div class="col-sm-12 mb-3 mb-sm-0">
                    <%= f.select :level, get_config("chvl_user_roles"), {}, class: "form-control" %>
                  </div>
                </div>
              <% end %>
              <%= f.submit "Criar Conta", class: "btn btn-primary btn-user btn-block" %>
            <% end %>
            <% unless logged_in? %>
              <hr>
              <div class="text-center">
                <%= link_to "Já tem cadastro?", root_path, :class => "small" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>