<div class="container">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <%= form_with model: @leciona, local: true, class: "user" do |f| %>
              <%= f.hidden_field :curso_id, value: "#{params[:curso_id]}" %>
              <div class="form-group row">
                <div class="col-sm-12 mb-3 mb-sm-0 text-center">
                  <%= f.label "Vincular professor(es) abaixo ao Curso de #{@curso}", class: 'col-form-label-lg' %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12 mb-3 mb-sm-0">
                  <%= f.collection_select :professor_id, @professores, :id, :nome, {}, { class: "form-control", :multiple => true } %>
                </div>
              </div>
              <%= f.submit "Salvar", class: "btn btn-primary btn-user btn-block" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>